.--large {
  color: var(--rose-400);
}
.--medium {
  color: var(--green-400);
}
.--small {
  color: var(--sky-400);
}
.--single {
  color: var(--orange-400);
}
.--more {
  color: var(--violet-400);
}
.--word {
  color: var(--slate-300);
}
