---
import HtmlDocument from "$/layout/HtmlDocument.astro"
import { getCollection } from "astro:content"
import { Icon } from "astro-icon/components"
import BackToTopLink from "$/components/link/BackToTopLink.astro"

const pieces = (await getCollection("piece")).sort((a, b) => a.data.meaning.localeCompare(b.data.meaning))
---

<HtmlDocument title="cgmonolog-english">
  <section class="container">
    <div class="header">
      <BackToTopLink />
      <h1 class="PieceTitle">日本語から探す</h1>
    </div>
    <ul class="PieceList">
      {
        pieces.map((piece) => (
          <li>
            <a href={`/${piece.data.type}/${piece.id}`} class={`--${piece.data.type} PieceLink`}>
              <Icon name="game-icons:jigsaw-piece" />
              <span class="PieceLink-text">{piece.data.meaning}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</HtmlDocument>

<style>
  .container {
    display: grid;
    gap: 3rem;
    padding-block: 3rem;
  }

  .header {
    display: grid;
    gap: 2rem;
  }

  .PieceTitle {
    padding-inline: 1rem;
    padding-block: 0;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    word-break: auto-phrase;
  }
  .PieceList {
    list-style: none;
    margin-block: 0;
    margin-inline: auto;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    padding-inline: 2rem;
  }
  .PieceLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.9rem, 0.828rem + 0.307vw, 1rem);
    line-height: 1.7;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .PieceLink :global(svg) {
    flex-shrink: 0;
    font-size: 1.2em;
  }
  .PieceLink-text {
    color: var(--slate-500);
  }
</style>
