---
import { Icon } from "astro-icon/components"

const types = ["medium", "large", "small", "more", "single"]
---

<nav class="types-nav">
  <ul>
    {
      types.map((type) => (
        <li>
          <a href={`/${type}`} class={`--${type}`}>
            <Icon name="game-icons:jigsaw-piece" />
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .types-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .types-nav :global(svg) {
    font-size: 1.5rem;
  }
</style>
