---
import { Icon } from "astro-icon/components"
---

<a href="/" class="top-link" title="トップへ戻る">
  cgmonolog <Icon name="game-icons:puzzle" /> english
</a>

<style>
  .top-link {
    color: var(--slate-400);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-style: italic;
    text-decoration: none;
  }
  .top-link :global(svg) {
    font-size: 2rem;
    rotate: 45deg;
  }
</style>
